#APIkey
# openAIAPIkey.txt

# log file
log_sending_to_gpt.txt
log.txt

tmp/
gamelog/
jp2protocol_corpus/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class


*.egg-info/
*__pycache__/

*.pyc
*.pth

.python-version

#環境は各自で作成するので、gitでは管理しない
env_k2b/
